<h1>New Post</h1>
<form method="POST" action="/new">
  <input name="name" type="name" placeholder="Your name" required></input>
  <textarea name="message" placeholder="Post body" required ></textarea>
  <button>Submit</button>
</form>